@import 'css/base.css';

.button{
    border: none;
    background-color: #F5C661;
    font-weight: 600;
    color: black;
    padding: 0.2rem;
}

*, header, footer {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.woocommerce-breadcrumb {
    display: none;
}