/* FRONT HEADER */

.front-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7A247D;
    padding: 2rem;
}

.front-header > h1 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    color: #F5C661;
}

.front-header > p {
    font-weight: 100;
    color: #FAFAFA;
}

/* MIDDLE MAIN */

.middle-main {
    padding: 2rem;
    background-color: #E7FAFE;
}

.cats-container {
    display: flex;
    justify-content: center;
}

.cat-container {
    position: relative;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

.cat-img {
    object-fit: cover;
    width: 240px;
    height: 210px;
}

.txt-container{
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    background: linear-gradient(to right, #7A247D, #7a247d69);
}

.cat-title {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
    bottom: 5px;
    left: 5px;
}

button {
	background: none;
    color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.pratos-do-dia {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.pratos-do-dia-header {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    font-weight: 600;
}

.pratos-do-dia-header > span {
    margin: 0.25rem 0;
}

.dishes-container {
    display: flex;
    justify-content: center;
}

.dish-container {
    position: relative;
    width: 240px;
    margin: 0.5rem;
}

.dish-info {
    position: absolute;
    background-image: linear-gradient(to right, #7A247D, #7a247d69);
    width: 240px;
    height: 105px;
    bottom: 0px;
    color: white;
}

.dish-img {
    width: 240px;
    height: 373px;
    object-fit: cover;
}

.dish-name {
    position: absolute;
    font-weight: 100;
    left: 5px;
    top: 10px;
}

.dish-price {
    position: absolute;
    font-weight: 100;
    left: 5px;
    bottom: 10px;
}

.buy-dish {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color:#F5C661;
    padding: 2px;
}

.other-options-btn {
    width: 8rem;
    margin: 2rem auto 0;
} 

.other-options-btn > .button:hover {
    cursor: pointer;
}


/* BOTTOM MAIN */

.bottom-main {
    background-color: #7A247D;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 100;
}

.bottom-main > h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0;
}

.bottom-main-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 0 1.5rem 0;
}

.contact-text > div > span {
    font-size: 0.75rem;
    margin: 0 0 0 0.5rem;
}

.contact-text > iframe {
    margin: 0 0 0.75rem 0;
}

.store-img {
    width: 400px;
    object-fit: cover;
}