.header {
    background-color: #7A247D;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.left-header {
    display: flex;
    width: 30rem;
    justify-content: center;
}

.left-header > * {
    margin: 0.5rem;
    height: 1.5rem;
    display: flex;
}

.left-header > a {
    display: flex;
    justify-content: flex-end;
}

.left-header > div > form{
    display: flex;
    align-items: center;
}

.left-header > div > form > input.search-field {
    width: 20rem;
    background-color: #7A247D;
    color: #F5C661;
    border: none;
}

.search > form {
    padding: 0.25rem;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #F5C661;
}

.right-header{
    display: flex;
    width: 25rem;
    justify-content: center;
}

.right-header > * {
    margin: 0.5rem;
    height: 1.5rem;
    display: flex;
}

.right-header > a > button {
    cursor: pointer;
}