.woocommerce-MyAccount-navigation-link--downloads {
    display: none;
}

.woocommerce-MyAccount-navigation-link--edit-account {
    display: none;
}

.woocommerce-MyAccount-navigation > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    background-color: #F5C661;
}

.woocommerce-MyAccount-navigation > ul > li > a {
    color: black;
}

.minha-conta-main > .woocommerce {
    display: flex;
    flex-direction: column;
}

.woocommerce-MyAccount-content {
    background-color: #E7FAFE;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.woocommerce-MyAccount-content > *{
    width: 800px;
    margin: auto;
}

.woocommerce-MyAccount-content > p {
    padding: 1rem;
    line-height: 1.5rem;
}

.woocommerce-Input {
    outline: 0;
    border-color: #7A247D;
    border-width: 0 0 1px;
    background-color: #E7FAFE;
}

.woocommerce-Button {
    margin: auto;
}

.woocommerce-EditAccountForm p:nth-child(4){
    display: none;
} 

.woocommerce-EditAccountForm > p:last-child {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.woocommerce-EditAccountForm > p:last-child > button {
    background-color: #7A247D;
    color: white;
    font-weight: 400;
}

.woocommerce-EditAccountForm > fieldset > p:last-child {
    display: block;
}

.woocommerce-EditAccountForm > fieldset > legend {
    display: none;
}

.show-password-input {
    display: none;
}