.single-dish-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
}

.single-dish-image {
    display: flex;
    flex-basis: 25rem;
}

.single-dish-summary {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
}

.single-dish-summary > .price {
    display: none;
}

.single-dish-summary > .product_title {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
}

.single-dish-summary > .dish-description > p {
    text-align: justify;
    font-weight: 300;
    line-height: 1.2rem;
}

.single-dish-summary > .product_meta {
    display: none;
}

.single-dish-summary > .variations_form {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: space-between;
}

.price-variation-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.price-variation-wrap > .price {
    display: flex;
    order: 2;
}

.price-variation-wrap > .variations {
    display: flex;
    order: 1;
}

.single_variation_wrap {
    display: flex;
}

.single_variation_wrap > .woocommerce-variation-add-to-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.single-dish-div > .woocommerce-tabs {
    display: none;
}